.full-screen-block {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
}
/* @media screen and (max-width: 600px) {
  .header {
    width: 320px;
    height: 23px;
    padding-top: 12px;
  }
} */
