.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background: transparent;
}

.full-screen-block.slider1_1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.6) 100%),
    url("../../assets//images/potential.jpg");
    background-position: center center;
    background-size: cover;
}
.full-screen-block.slider1_2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.6) 100%),
    url("../../assets//images/productivty.jpg");
    background-position: center center;
    background-size: cover;
}

.sliderTitleBlock {
  position: absolute;
  left: 57px;
  bottom: 20px;
  z-index: 20;
}

.sliderTitleBlock .homeSliderTitleTop {
  color: #b46e3c;
  padding: 0 0 25px;
  margin: 0;
  font-size: 32px;
  line-height: 32px;
  font-family: "josefin-sans", sans-serif;
  text-align: left;
  letter-spacing: 3px;
}
.sliderTitleBlock .homeSliderTitle {
  color: #ffffff;
  padding: 0 0 25px;
  margin: 0;
  font-size: 66px;
  line-height: 76px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "josefin-sans", sans-serif;
  text-align: left;
  letter-spacing: 1px;
}
@media (max-width: 1023px) {
  .sliderTitleBlock .homeSliderTitleTop {
    font-size: 22px;
    line-height: 22;
  }
  .slick-slider {
    box-sizing: border-box;
  }
  .sliderTitleBlock .homeSliderTitle {
    font-size: 46px;
    line-height: 46px;
  }
}
@media (max-width: 1200px) {
  /* .container .full-screen-block {
    position: relative;
    width: 100%;
    height: 50%;
  }  */
  .sliderTitleBlock {
    position: absolute;
    left: 57px;
    bottom: 20px;
    z-index: 20;
  }
  .sliderTitleBlock .homeSliderTitleTop {
    font-size: 18px;
    line-height: 16;
    padding: 0;
    position: absolute;
    bottom: 0;
  }
  .slick-slider {
    box-sizing: border-box;
  }
  .sliderTitleBlock .homeSliderTitle {
    font-size: 26px;
    line-height: 36px;
    padding: 0 0 25px;
  }
}

.slick-list,
.slick-slider,
.slick-track {
  position: relative;
  display: block;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
